<!DOCTYPE html>

<html lang="en" ng-app="LoginFormModule">
<head>
    <meta charset="UTF-8">
    <title>MI UNIDAD 2</title>

    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../share/main.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    Primer Form + AngularJs
                </a>
            </div>
        </div>​
    </nav>

    <div class="container main-content" ng-controller="LoginFormController">
    <form name="theForm" ng-submit="onSubmit();">

        <div class="form-group">
            <label for="name">Tu nombre: </label>

            <input  type="text"
                    class="form-control"
                    id="name">

        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">
                Registrar
            </button>
        </div>

    </form>
    </div>

    <script src="../../bower_components/bootstrap/dist/css/bootstrap.min.css"></script>
    <script src="../controller/FormValidationController.js"></script>

</body>
</html>